{# @var column LoicPennamen\SharedRepository\DtColumn #}

{# translationFile example: asset('build/datatables/datatables.fr.json') #}
{% set defaultConfig = {
    columns: [],
    tableId: entity_datatables_uniqid(),
    tableClasses: 'table table-striped',
    translationFile: null,
    useCdn: true,
    useJQueryCdn: true,
    data: [],
    dataUrl: null,
    additionalData: null,
} %}
{% set config = defaultConfig|merge(config is defined ? config : {}) %}

{# Using CDN #}
{% if config.useJQueryCdn %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endif %}
{% if config.useCdn %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    {# Extensions #}
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.dataTables.min.css">
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.3.2/css/fixedHeader.dataTables.min.css">
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">
    <script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/staterestore/1.2.2/css/stateRestore.dataTables.min.css">
    <script src="https://cdn.datatables.net/staterestore/1.2.2/js/dataTables.stateRestore.min.js"></script>
{% endif %}

{# DOM #}
<table class="loicpennamen-entity-datatables-bundle-table {{ config.tableClasses }}"
       id="{{ config.tableId }}"
>
    <thead>
    <tr>
        {% for column in columns %}
            <th>
                {{ column.htmlLabel ? column.label|raw : column.label }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{# JS init #}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        $('#{{ config.tableId }}').DataTable({
            "fixedHeader": {
                header: true
            },
            "scrollX": true,
            {% if config.translationFile %}
                "language": {
                    url: {{ config.translationFile|json_encode|raw }}
                },
            {% endif %}
            "autoWidth": false,
            "lengthMenu": [[10, 25, 50, 100, 500], [10, 25, 50, 100, 500]],
            "iDisplayLength": 25,
            "processing": true,
            "order": [],
            "bFilter": true, // Allow string filtering

            // Ajax
            {% if config.dataUrl %}
                "serverSide": true,
                "ajax": {
                    url: {{ config.dataUrl|json_encode|raw }},
                    type: 'POST',

                    // Add custom data to query
                    {% if config.additionalData %}
                        data: {{ config.additionalData|json_encode|raw }},
                    {% endif %}

                    error: function(e){
                        if(e.hasOwnProperty('responseJSON')){
                            if(e.responseJSON.hasOwnProperty('error')){
                                console.error("Datatable error : " + e.responseJSON.error);
                                return;
                            }
                        }
                        console.error(e);
                    }
                },
            {% endif %}

            // Disable sorting on columns
            {% if columns | length %}
                {# We'll need disabled columns index as an array #}
                {% set disabledColumns = [] %}
                {% for column in config.columns %}
                    {% if column.sortable is same as false %}
                        {% set disabledColumns = disabledColumns|merge([loop.index0]) %}
                    {% endif %}
                {% endfor %}

                "columnDefs": [{
                    sortable: false,
                    targets: {{ disabledColumns|json_encode|raw }}
                }],
            {% endif %}

            // ////////////////
            // KEEP DISPLAY ON PAGE QUIT
            // Handle Save table state through pages
            "stateSave": true,
            // Parameters to keep on save
            "stateSaveParams": function (settings, data) {
            },
            // Parameters to load on init
            "stateLoadParams": function (settings, data) {
            },
        });
    });
</script>
